# Local environment variables - ASLA GIT'E COMMIT ETMEYİN!
.env
.env.local
.env.*.local
*.env

# Dependencies
node_modules/
**/node_modules

# Build output
dist/

# Capacitor
android/
ios/
.capacitor/

# Gemini CLI temporary project
project-bolt-sb1-vae5dgoc/.firebase/hosting.ZGlzdA.cache 
